@model Forum.Models.Message

@{
    ViewBag.Title = "ShowMessage";
}

<h2>@Model.Title</h2>

<h3>@Html.ActionLink("Add Reply", "reply", new { id = Model.ID })</h3>

<table class="Posts">

@foreach (var item in Model.Posts) {
    <tr>
        <th>
           @item.Title <span id="author">@item.Author</span>
        </th>
    </tr>
    <tr>
        <td>
            @item.Body
        </td>
    </tr>
}

</table>
